---

---

<p>
  Made by <a href="https://calvin.sh" target="_blank" rel="noopener"
    >Calvin Liang</a
  > for his
  <a
    href="https://github.com/Calvin-LL/defcon-32-badge-flashy-rom"
    target="_blank"
    rel="noopener noreferrer">DEF CON 32 badge hacking project</a
  >. See source code for this page on <a
    href="https://github.com/Calvin-LL/game-boy-tile-tools"
    target="_blank"
    rel="noopener noreferrer">GitHub</a
  >.
</p>

<style>
  p {
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
  }
</style>
